*.json
*.txt
*.log
*.out
/run*
/.vscode
predict.ipynb
datasets/nongshanghang/sz_nongshanghang_20200610.csv
datasets/apache/apache_ds.csv
datasets/Hadoop/hadoop_ds.csv
datasets/Hadoop/tokens.csv
datasets/HDFS/hdfs_ds.csv
datasets/kafka/kafka_ds.csv
datasets/nongshanghang/nongshanghang_ds.csv
datasets/nongshanghang/tokens.csv
datasets/openstack/openstack_ds.csv
datasets/spark/spark_ds.csv
datasets/spark/tokens.csv
.DS_Store
*__pycache__